.c {
  margin-top: 150px;
}

@media screen and (max-width: 575px) {
  .c {
    margin-top: 260px;
  }
}

.a {
  font-size: 14px;
}
.pro{
  background-color: var(--project-main-card);
}
/* .card-header{
  background-color: var(--project-main-card-header);
} */

.n{
  color: var(--icone-color);
}
.n:hover{
  color: var(--icode-hover-color);
}