.CircularProgressbar-path {
    stroke: red;
  }
  .CircularProgressbar-trail {
    stroke: gray;
  }
  .CircularProgressbar-text {
    fill: yellow;
  }
  .CircularProgressbar-background {
    fill: green;
  }
  .main-card-body-q{
    background-color: var(--main-section-color);
  }
