.ab a {
  color: white;
}
a:hover {
  color: rgb(91, 91, 196);
}
* {
  max-width: 100%;
}

.m {
  color: rgb(97, 97, 193);
}
.m:hover {
  color: rgb(60, 60, 163);
}
.main-card{
  border: none;
  background-color: var(--main-back-color);
}
.about{
  border: none;
  background-color: var(--project-main-card);
}
