a.active {
  border-bottom: 1px solid black;
  font-weight: bold;
}
a {
  font-weight: bold;
  font-size: 15px;
}
.d-flex a.n {
  color: rgb(85, 84, 84);
  font-weight: bold;
}
.d-flex a.n:hover {
  color: black;
}
